.thankYouContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5593e65;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #422929;
}

.content {
  background: #eec1c1;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(119, 16, 16, 0.623);
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #081b30;
}

.para {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2e2d2d;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .para {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2.5rem;
  }

  .para {
    font-size: 1.1rem;
  }
}
